.wrapper {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px;
	grid-auto-rows: minmax(1em, auto);
}
.HeaderImage {
	grid-column: 1;
	grid-row: 1;

	overflow: hidden;
	position:relative;
}
.HeaderTitle {
	grid-column: 2 / 4;
	grid-row: 1;
 
	overflow: hidden;
	position:relative;
}
.Navigation {
	grid-column: 1 / 4;
	grid-row: 2;
	
	background-color: rgba(256, 256, 256, 0.8);
	border-radius: 10px;
	width: 100%;
}
.Title { 
	grid-column: 1 / 4;
	grid-row: 3;
	
	background-color: rgba(256, 256, 256, 0.8);
	border-radius: 10px;
}
.Content {
	grid-column: 1 / 4;
	grid-row: 4 / 6;
	
	background-color: rgba(256, 256, 256, 0.8);
	border-radius: 10px;
	padding: 1em;
}
.Footer {
	grid-column: 1/4;
	grid-row: 6;

	background-color: rgba(0, 0, 0, 0.85);
	border-radius: 10px;
}

@media screen and (max-width: 42em) {
	.Navigation {
		grid-column: 1/4;
		grid-row: 2;
	}
	.Title {
		grid-column: 1/4;
		grid-row: 3;
	}
	.Content {
		grid-column: 1 / 4;
		grid-row: 4;
	}
	.Footer {
		grid-column: 1 / 4;
		grid-row: 5;
	}
}